.filters-title {
    margin: 0 0 10px 0;
    text-transform: uppercase;
}

.attribute-filters-form {
    margin: 0 -10px 2em -10px;
}

.attribute-filters-form .filter-content {
    margin: 10px;
    position: relative;
}

.attribute-filters-form .attribute-label {
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #f9f9f9 url(../images/list.png) no-repeat center right 10px;
    padding: 10px;
    display: block;
    -webkit-tap-highlight-color: transparent;
}

.attribute-filters-form .attribute-label:hover,
.attribute-filters-form .attribute-toggle:checked ~ .attribute-label {
    background-color: #dfdfdf;
}

.attribute-filters-form .attribute-toggle {
    display: none;
}

.attribute-filters-form .filter-options {
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    margin-top: -3px;
    border: 1px solid #ccc;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.1s linear;
}

.attribute-filters-form .attribute-toggle:checked ~ .filter-options {
    visibility: visible;
    opacity: 1;
}

.attribute-filters-form .filter-options ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 20px;
}

.attribute-filters-form .filter-options li {
    margin: 10px 0;
}

.attribute-filters-form .filter-options li label {
    margin-left: 5px;
    cursor: pointer;
}

.attribute-filters-form .filter-options .apply {
    display: block;
    margin: 0 auto 10px auto;
    padding: 0.2em 0.5em;
}
