.filters .filters-title {
    display: inline-block;
    margin: 0 0 1em 0;
    text-transform: uppercase;
    cursor: pointer;
    background: url(../images/filter.png) no-repeat left;
    padding-left: 32px;
    font-size: 1.2em;
}

.filters .total-items {
    float: right;
}

.filters .narrow-by-toggle {
    display: none;
}

.attribute-filters-form {
    margin: 0 -10px 1em -10px;
    display: none;
}

.narrow-by-toggle:checked ~ .attribute-filters-form {
    display: block;
}

.attribute-filters-form .filter-content {
    margin: 0 10px 10px 10px;
    position: relative;
}

.attribute-filters-form .attribute-label {
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #f9f9f9 url(../images/list.png) no-repeat center right 10px;
    padding: 10px;
    display: block;
    -webkit-tap-highlight-color: transparent;
}

.attribute-filters-form .attribute-label:hover,
.attribute-filters-form .attribute-toggle:checked ~ .attribute-label {
    background-color: #dfdfdf;
}

.attribute-filters-form .attribute-toggle {
    display: none;
}

.attribute-filters-form .filter-options {
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    margin-top: -3px;
    border: 1px solid #ccc;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.1s linear;
}

.attribute-filters-form .attribute-toggle:checked ~ .filter-options {
    visibility: visible;
    opacity: 1;
}

.attribute-filters-form .filter-options ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 20px;
}

.attribute-filters-form .filter-options li {
    margin: 10px 0;
}

.attribute-filters-form .filter-options li label {
    margin-left: 5px;
    cursor: pointer;
}

.attribute-filters-form .filter-options li.color {
    display: inline-block;
    margin-bottom: 0;
}

.attribute-filters-form .filter-options li.color label {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 8px 0 0;
    border: 2px solid #ddd;
    border-radius: 50%;
}

.attribute-filters-form .filter-options li.color label span,
.attribute-filters-form .filter-options li.color input {
    display: none;
}

.attribute-filters-form .filter-options li.color input:checked ~ label {
    border: 2px solid #333;
}

.attribute-filters-form .filter-options .apply {
    display: block;
    margin: 10px auto 20px auto;
    padding: 0.4em 1em 0.5em 1em;
}

.attribute-filters-applied {
    margin: 0 0 1em 0;
    padding: 0;
}

.attribute-filters-applied .attribute-label {
    font-weight: bold;
}

.attribute-filters-applied .option {
    display: inline-block;
    margin: 0 10px 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.attribute-filters-applied .option .label {
    display: inline-block;
    vertical-align: middle;
    line-height: 16px;
    padding: 10px 12px;
}

.attribute-filters-applied .option.color .label::before {
    content: '\00a0';
    display: inline-block;
    width: 17px;
}

.attribute-filters-applied .option.color .label span {
    display: none;
}

.attribute-filters-applied .option .remove {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 12px;
    background: url(../images/remove.png) no-repeat center;
    width: 16px;
    height: 16px;
    border-left: 1px solid #ccc;
}

.attribute-filters-applied .option .remove span {
    display: none;
}
