.cart-rule-conditions .pure-button {
    margin: 6px 0 0 0;
}

.cart-rule-coupon {
    border-bottom: 1px solid #ddd;
    line-height: 40px;
}

.cart-rule-coupon:last-child {
    border: 0;
}

.cart-rule-coupon .checkbox {
    cursor: pointer;
}

.cart-rule-coupon .checkbox input {
    margin-right: 5px;
}
