.gallery-images {
    margin:0 -10px 0 -10px
}

.gallery-images .delete {
    color: #A00;
    float: right;
}

.gallery-images .image-content {
    margin: 10px;
    padding: 5px;
    border: 1px solid #ddd;
}

.gallery-images .image-file {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.gallery-images .image-content.disabled .image-file {
    opacity: 0.5;
}

.gallery-images .image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #f6f6f6;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.gallery-images .image.auto {
    background-size: auto;
}

.gallery-images .image-info {
    font-size: 0.7em;
    margin: 5px 0 0 0;
    color: #333;
}

.container-form .image-info span {
    color: #666;
    border: 1px solid #ccc;
    padding: 3px 5px;
    margin: 0 5px 5px 0;
    background: #f6f6f6;
    display: inline-block;
}

.gallery-images a {
    display: inline-block;
    font-size: 0.9em;
    margin: 5px 0;
    font-weight: bold;
}

.gallery-form .info {
    margin: 0 0 20px 0;
    padding-left: 1em;
}

.gallery-images .snippet {
    font-size: 0.8em;
}