<div class="pure-u-1 line agreements">
    <p>
        <a href="{{ block.getAgreementsUrl }}" target="_blank">{{ 'General conditions of sale'|translate }}</a>
    </p>
    <label for="agreements">
        <input type="checkbox" id="agreements" value="1" name="agreements" /> {{ 'I have read and accept'|translate }}
    </label>
</div>