<div class="head-user-account">
    <span class="user"><a href="{{ page.current.getAccountUrl }}"><span>{{ page.current.getUserFullName }}</span></a></span>
    <span class="logout"><a href="{{ page.current.getLogoutUrl }}"><span>{{ 'Log Out'|translate }}</span></a></span>
</div>