<div class="head-user-account">
    <span class="user"><a href="{{ block.getAccountUrl }}"><span>{{ block.getUserFullName }}</span></a></span>
    <span class="logout"><a href="{{ block.getLogoutUrl }}"><span>{{ 'Log Out'|translate }}</span></a></span>
</div>