{% set posts = block.getPosts() %}
{% if posts is not empty %}
    <div class="posts pure-g" id="posts">
        {% for post in posts %}
            {{ child('blog.post.default', {'post':post}) }}
        {% endfor %}
    </div>
{% endif %}
