{% set posts = block.getPosts() %}
{% if posts is not empty %}
    <div class="search-results">
        {% set results = posts|length %}
        {{ results }} {% if results == 1 %}{{ 'post found'|translate }}{% else %}{{ 'posts found'|translate }}{% endif %}
    </div>
    <div class="posts search pure-g" id="posts">
        {% for post in posts %}
            <div class="pure-u-1">
                {{ child('blog.post.default', {'post':post}) }}
            </div>
        {% endfor %}
    </div>
{% endif %}
