<?php

$config = [
    'app' => [
        'secured_port'       => 443,
        'secured_protocol'   => 'https://',
        'unsecured_protocol' => 'http://',
        'twig_cache'         => 0,
        'config_cache'       => 0,
        'backend_key'        => 'leafiny',
        'languages'          => ['fr_FR', 'en_US'],
    ],

    'session' => [
        'default' => [
            'lifetime' => 86400,
            'samesite' => 'strict',
        ],
        'backend' => [
            'lifetime' => 86400,
        ],
    ],

    'model' => [
        'default' => [
            'db_host'       => 'localhost',
            'db_username'   => 'username',
            'db_password'   => 'password',
            'db_database'   => 'database',
            'db_no_writing' => 0,
            'lc_time_names' => 'en_US',
        ],
        'social_comment' => [
            'default_status' => 1,
        ],
        'rewrite' => [
            'enabled' => 1,
        ],
    ],

    'page' => [
        'default' => [
            'is_secure'    => 0,
            'locale'       => 'en_US.utf8',
            'fpc'          => 0,
            'allow_params' => 1,
        ],
    ],

    'mail' => [
        'default' => [
            'recipient_email' => 'contact@example.com',
            'sender_email'    => 'contact@example.com',
            'sender_name'     => 'Leafiny',
            'smtp_enabled'    => 0,
            'smtp_auth'       => 1,
            'smtp_secure'     => 'tls',
            'smtp_host'       => '',
            'smtp_port'       => 587,
            'smtp_username'   => '',
            'smtp_password'   => '',
        ]
    ]
];
