{% for error in page.getErrorMessages %}
    <p class="alert-message error">{{ error }}</p>
{% endfor %}
{% for warning in page.getWarningMessages %}
    <p class="alert-message warning">{{ warning }}</p>
{% endfor %}
{% for success in page.getSuccessMessages %}
    <p class="alert-message success">{{ success }}</p>
{% endfor %}