<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ page.getLanguage }}" xml:lang="{{ page.getLanguage }}">
<head>
{{ 'admin.head'|block }}
</head>
<body class="page-login">
{% apply spaceless %}
{{ 'admin.content'|block }}
{% endapply %}
</body>
</html>