<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ page.getLanguage }}" xml:lang="{{ page.getLanguage }}">
<head>
{{ child('admin.head') }}
</head>
<body class="page-login">
{% apply spaceless %}
{{ child('admin.content') }}
{% endapply %}
</body>
</html>