{% set pages = page.getCurrent.getPages(category.getCategoryId) %}
{% if pages is not empty %}
    <div class="pages pure-g">
        {% for cms_page in pages %}
            <div class="page-list pure-u-md-1-2 pure-u-1">
                <div class="page-list-content">
                    <a href="{{ page.getUrl }}{{ cms_page.getPathKey }}.html">{{ cms_page.getTitle }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
