{% set category = page.getCustom('category') %}
{% set pages = block.getPages(category.getCategoryId) %}
{% if pages is not empty %}
    <div class="pages pure-g">
        {% for cms_page in pages %}
            <div class="page-list pure-u-md-1-2 pure-u-1">
                <div class="page-list-content">
                    <a href="{{ page.getUrlRewrite(cms_page.getPathKey, 'cms_page') }}">{{ cms_page.getTitle }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
