{% set category = page.getCustom('category') %}
{% set groups = block.getGroups(category.getCategoryId) %}
{% if groups|length %}
    <div class="galleries" id="galleries">
        {% for group in groups %}
            {% set images = block.getImages(group.getGroupId) %}
            {% if images|length %}
                <div class="gallery pure-g">
                    {% for image in images %}
                        <div class="pure-u-1-2 pure-u-md-1-4">
                            {{ child('gallery.image.default', {'image':image}) }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}