.checkout .review .coupon {
    padding-top: 10px;
}

.checkout .review .coupon .line {
    margin-top: 10px;
}

.checkout .review .coupon label {
    display: none;
}

.checkout .review .coupon input {
    width: 150px;
    margin: 0 10px 0 0;
    display: inline-block;
}

.checkout .review .coupon button {
    display: inline-block;
    line-height: 22px;
}