{% set posts = block.getPosts %}
{% if posts is not empty %}
    <h2>{{ 'Last posts'|translate }}</h2>
    <div class="posts pure-g">
        {% for post in posts %}
            <div class="pure-u-1">
                {{ child('blog.post.default', {'post':post}) }}
            </div>
        {% endfor %}
    </div>
{% endif %}