{% set resources = block.getResources %}
{% set userResources = block.getUserResources(form.getUserId) %}
<div class="pure-u-lg-1-4">
{% for resource,title in resources %}
    {% if loop.index > 1 and (loop.index - 1) is divisible by(block.getColumnElementNumber) %}
        </div><div class="pure-u-lg-1-4">
    {% endif %}
    <label for="resource_{{ loop.index }}" class="pure-checkbox">
        <input name="resources[]" id="resource_{{ loop.index }}" type="checkbox" value="{{ resource }}"{% if resource in userResources %} checked="checked"{% endif %}> {{ title }}
    </label>
{% endfor %}
</div>