{% set cms_page = block.getCmsPage %}
<div class="page-list">
    <div class="page-list-content">
        <a href="{{ page.getUrlRewrite(cms_page.getPathKey, 'cms_page') }}">{{ cms_page.getTitle }}</a>
    </div>
</div>